<footer class="footer">
  <small>
    The <a href="www.youtube.com"> Youtubes </a> for them
    <a href="www.protein.com"> proton gainz </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Help", '#' %></li>
      <li><a href="bodybuilding.com">Gainz</a></li>
    </ul>
  </nav>
</footer>
