<footer class="footer">
  <small>
    The <a href="http://www.youtube.com"> Youtubes </a> for them
    <a href="http://www.protein.com"> proton gainz </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="http://www.bodybuilding.com">contact</a></li>
    </ul>
  </nav>
</footer>
